# DEPENDENCIES_MODE all, some and none
DEPENDENCIES_MODE=all

# Если MODE="some", эти значения перепишутся в false автоматически
DEPENDENCY_ACCOUNT_API=true
DEPENDENCY_CLIENT_API=true
DEPENDENCY_DATABASE=true
DEPENDENCY_KAFKA_DWH=true
